<div class="desviar">
  <a href="/desviar/<%= @desviar.temp_uri[0, @desviar.temp_uri.length - $config[:urisuffix].length] %>">
  http://<%= settings.bind %>:<%= settings.port %>/desviar/<%= @desviar.temp_uri[0, @desviar.temp_uri.length - $config[:urisuffix].length] %></a><br><hr>
  <h2><a href="<%= @desviar.redir_uri %>"><%= @desviar.redir_uri %></a></h2>
  <div class="sbody" id="box">
     <%= @desviar.formatted_notes %>
  </div>
  <div class="sdate">
     Created <%= @desviar.created_at.strftime("%D at %T %Z") %><br>
     Expires <%= @desviar.expires_at.strftime("%D at %T %Z") %><br>
     ID: <%= @desviar.id %>
     <%= if @desviar.num_uses > 0 then "<br>Uses: #{@desviar.num_uses}" end %>
     <%= @desviar.captcha ? "<br>CAPTCHA is required" : "" %>
  </div>
  <hr>
  <a href="/create">Create Another</a> <a href="/list">List</a>
</div>
