<div class="desviar">
  <a href="/desviar/<%= @desviar.temp_uri[0, @desviar.temp_uri.length - URISUFFIX.length] %>">
  https:<%= settings.bind %>:<%= settings.port %>/desviar/<%= @desviar.temp_uri[0, @desviar.temp_uri.length - URISUFFIX.length] %></a><br><hr>
  <h2><a href="<%= @desviar.redir_uri %>"><%= @desviar.redir_uri %></a></h2>
  <div class="sbody" id="box">
     <%= @desviar.formatted_notes %>
  </div>
  <div class="sdate">
     Created <%= @desviar.created_at.strftime("%D at %T %Z") %> <%= ENV['REMOTE_USER'] %><br>
     Expires <%= @desviar.expires_at.strftime("%D at %T %Z") %>
     <%= @desviar.captcha ? "<br>CAPTCHA is required" : "" %>
  </div>
  <hr>
  <a href="/create">Create new temporary URI!</a>
</div>
